@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #050505;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #050505;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-geist-sans {
  font-family: var(--font-geist-sans);
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}
